@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.inset {
  fill: white;
}

.track {
  fill: #e8ebee;
}

.percentage {
  color: #cbcbcb;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  vertical-align: super;
}

.progress {
  animation: rotate 12s linear infinite;
  fill: transparent;
  stroke-linecap: round;
  stroke: #2ecc71;
  transform-origin: 50% 50%;
}

.value {
  font-size: 0.6em;
  margin: 0;
  padding: 0;
  position: absolute;
}
