@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

.inset {
  fill: white;
}

.track {
  fill: grey;
}

.progress {
  animation: rotate 12s linear infinite;
  fill: transparent;
  stroke-linecap: round;
  stroke: blue;
  transform-origin: 50% 50%;
}
